# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
- list popular languages for Data Science
- list commonly used libraries for Data Science
- list commonly used Data Science Open Source Development Tools
- Examples of arithmatic calculation

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. DPLYR

| Data Science Tools |
| --- |
| Jupyter Notebook |
| R studio |
| PyTorch |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#his will convert 200 minutes to hours by diving by 60
hrs = 200/60
print(hrs)

3.3333333333333335

## Author
Chaitanya Shankhpal